<!-- Conditional Layout Based on Authentication -->
@if (isAuthRoute()) {
  <!-- Full Screen Auth Layout -->
  <router-outlet></router-outlet>
} @else {
  <!-- Main App Layout with Toolbar and Sidebar -->
  <p-toolbar id="app-main-toolbar" [style]="{ height: '100px' }">
      <div class="p-toolbar-group-start">
          <img id="app-logo-img" src="assets/icons/icon.png" alt="logo" />
          @if (auth.user()) {
            <div id="app-user-welcome" class="user-welcome">
              <span class="welcome-text">Hello, {{ auth.user()?.username }}!</span>
            </div>
          }
      </div>
      <div id="app-title-container" class="p-toolbar-group-center">
          {{ title }}
      </div>
      <div class="p-toolbar-group-end">
        <div class="p-overlay-badge" [style]="{'margin-right': '0.5rem'}">
            <p-button 
              id="app-wishlist-btn"
              icon="pi pi-heart" 
              [text]="true"
              [rounded]="true"
              size="large"
              severity="danger"
              (click)="goToWishlist()"
              pTooltip="My Wishlist"
              tooltipPosition="bottom">
            </p-button>
            <span class="p-badge p-badge-info">
              {{ wishlist.totalItems() }}
            </span>
          </div>
          <div class="p-overlay-badge" [style]="{'margin-right': '0.5rem'}">
            <p-button 
              id="app-cart-btn"
              icon="pi pi-shopping-cart" 
              [text]="true"
              [rounded]="true"
              size="large"
              severity="info"
              (click)="goToCart()"
              pTooltip="Shopping Cart"
              tooltipPosition="bottom">
            </p-button>
            <span class="p-badge p-badge-danger">
              {{ cart.totalItems() }}
            </span>
          </div>
          <app-sign-out-button [isAdmin]="false"></app-sign-out-button>
      </div>
  </p-toolbar>

  <!-- Fixed Layout with Collapsible Sidebar -->
  <div class="app-layout" style="height: calc(100vh - 100px); display: flex;">
      <!-- Navigation Panel - Fixed Width -->
      <div id="app-navigation-panel" class="navigation-panel">
          <app-panel-menu />
      </div>
      
      <!-- Main Content - Flexible Width -->
      <div id="app-content-panel" class="content-panel">
          <router-outlet></router-outlet>
      </div>
  </div>
}

<!-- Global Toast Messages -->
<p-toast position="bottom-right"></p-toast>